.c-button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0px;
  outline: none;
  box-sizing: border-box;
  font-family: '-apple-system','BlinkMacSystemTypography','Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue','sans-serif';
  font-weight: 600;
  background-color: #007aff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: '-apple-system','BlinkMacSystemTypography','Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue','sans-serif';
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

a.c-button {
  text-decoration: none !important;
  border: 0 !important;
  width: auto;
  display: inline;
}
