.blog-post .content > h1 {
  margin-bottom: 10px;
}

.blog-post .content > h2 {
  margin-bottom: 10px;
}

.blog-post .content > h2 span {
  font: 400 18px/1.5 "Open Sans", sans-serif !important;
}

.blog-post h2 span.date {
  display: block;
  padding-top: 10px;
  margin-bottom: 0;
  color: #aaa !important;
  font: 16px "Open Sans", sans-serif !important;
}

.blog-post .post-image {
  height: 250px;
  background: no-repeat center;
  background-size: contain;
  margin: 30px auto 50px auto;
  position: relative;
}

.blog-post .post-image-space {
  height: 0px;
}

.blog-post .post-image-caption {
  position: absolute;
  bottom: -25px;
  width: 100%;
  text-align: center;
  font: 14px "Open Sans", sans-serif;
  color: #666;
}

.blog-post .post {
  font: 18px "Tiempos text regular", Times, "PT Serif", "Microsoft Sans Serif", serif;
  color: #444;
  max-width: 900px;
  margin: 0 auto;
}

.blog-post .post table {
  margin: 25px 0;
  border: 1px solid #ddd;
  border-collapse: collapse;
  font: 16px "Open Sans", sans-serif;
}

.blog-post .post table th {
  font-weight: 700;
  color: #000;
}

.blog-post .post table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.blog-post .post table td, .blog-post .post table th {
  padding: 10px 15px;
  border: 1px solid #ddd;
  line-height: 1.4;
}

.blog-post .post center table td {
  text-align: center;
}

/*.blog-post .post:after {
  content: "";
  width: 100px;
  height: 3px;
  background: #111;
  position: absolute;
  margin: 30px 0;
}*/

.blog-post .post > p {
  margin: 20px auto 0 auto;
  display: block;
}

.blog-post .post p {
  padding: 5px 0;
  line-height: 1.9;
  font-weight: 400;
  color: #333;
}

.blog-post .post ul {
  margin: 20px 0;
  padding-left: 60px;
  list-style: none;
}

.blog-post .post ul li {
  margin: 10px 0;
  padding: 0;
  line-height: 1.8;
}

.blog-post .post ul li::before {
  content: "•";
  color: #aaa;
  margin: -1px 0 0 -15px;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
}

.blog-post .post ol {
  margin: 20px 0;
  padding-left: 75px;
}

.blog-post .post ol li {
  margin: 10px 0;
  line-height: 1.9;
  padding: 0;
}

.blog-post .post li p {
  margin: 0;
  padding: 0;
}

.blog-post code {
  font: 14px/1.6 "PT Mono", sans-serif;
  color: #555;
  background: #f2f2f2;
  padding: 4px 6px;
  margin: 0;
  max-width: 100%;
  word-wrap: break-word;
}

.blog-post pre code {
  display: block;
  overflow: auto;
  background: #FDF6E4;
}

.blog-post .post blockquote {
  margin: 20px 0;
  border-left: 5px solid #eee;
  line-height: 1.8;
  padding: 60px 30px 0 30px;
  color: #555;
  position: relative;
}

.blog-post .post blockquote:before {
  content: "“";
  display: block;
  font-size: 142px;
  position: absolute;
  top: -65px;
  left: 20px;
  color: #ddd;
}

.blog-post .post blockquote p {
  color: #555;
}

.blog-post .post h1 {
  font: 600 48px "Apercu bold", "Open Sans", sans-serif;
  margin: 50px 0 10px 0;
  color: #050505;
}

.blog-post .post h2 {
  font: 36px "Apercu medium", "Open Sans", sans-serif;
  margin: 50px 0 20px 0;
  color: #111;
}

.blog-post .post h3 {
  font: 600 21px "Apercu regular", "Open Sans", sans-serif;
  letter-spacing: 0.7px;
  color: #111;
  margin: 50px 0 20px 0;
}

.blog-post .post h4, .blog-post .post h5, .blog-post .post h6 {
  font-size: 18px;
  font-weight: 600;
  color: #222;
  margin: 40px 0 10px 0;
}

.blog-post .post strong {
  font-weight: 600;
}

.blog-post .post img, .blog-post .post video {
  margin: 20px auto;
  display: block;
  max-width: 100%;
}

.blog-post .post .img-alt {
  display: block;
  text-align: center;
  font: 12px "Open Sans", sans-serif;
  margin-top: -15px;
  margin-bottom: 20px;
  color: #666;
}

.blog-post .post .wide {
  width: calc(100% + 200px);
  margin: 0 -100px;
}

.blog-post .post .left {
  float: left;
  width: 40%;
  margin: 0 30px 30px 0;
}

.blog-post .post .left.thumb {
  width: 20%;
  margin: 0 20px 20px 0;
}

.blog-post .left.multiple-imgs img {
  display: block;
  float: left;
  width: calc(50% - 10px);
  margin-left: 5px;
}

.blog-post .post iframe {
  display: block;
  margin: 50px auto;
  max-width: 100%;
}

.blog-post .share-buttons {
  margin: 25px auto;
  max-width: 800px;
  text-align: center;
}

.blog-post .share-buttons a {
  border: 0;
  opacity: 0.6;
  margin-right: 5px;
}

.blog-post .share-buttons a:hover {
  opacity: 1;
}

.blog-post .share-buttons a svg {
  width: auto;
  height: 30px;
}

.blog-post .share-buttons .fb svg {
  position: absolute;
  margin-top: 6px;
  height: 18px;
}

.blog-post .toc {
  width: 100%;
  background: #f5f5f5;
  padding: 100px;
  font: 400 18px/1.5 "Open Sans", sans-serif !important;
  margin: 50px 0 0 -100px;
}

.blog-post .toc .toc-content {
  column-count: 2;
}

.blog-post .toc h1 {
  display: inline-block;
  background: #ebe8e3;
  margin: 0 0 50px 0;
  font: 18px/1.8 "Open Sans", sans-serif !important;
  color: #555;
  text-transform: uppercase;
  padding: 5px 10px;
  letter-spacing: 0.8px;
}

.blog-post .toc ul {
  margin: 0;
  padding-left: 0px;
}

.blog-post .toc ul li {
  margin: 3px 0px;
}

.blog-post .toc ul li:before {
  display: none;
}

.blog-post .toc ul li ul {
  margin-left: 25px;
}

.blog-post .toc ul li:before {
  content: "";
  display: none;
}

.blog-post .toc ul li a {
  border: 0;
  color: #444;
}

.blog-post .toc ul li a:hover {
  color: #000;
}

.blog-post .toc ul li strong a {
  font-weight: 600;
}

.blog-post .post h1 a, .blog-post .post h2 a, .blog-post .post h3 a, .blog-post .post h4 a {
  border: none !important;
}

.blog-post :not(pre) > code {
  background: rgba(27,31,35,0.05) !important;
  padding: 2px 5px !important;
  color: #444 !important;
}

.blog-post .code-comp {
  width: calc(100% + 200px);
  margin: 20px 0 20px -100px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 1fr;
  justify-items: stretch;
  align-items: stretch;
  background: #FDF6E4;
}

.blog-post .code-comp .gatsby-highlight:nth-child(2) {
  border-left: 1px solid #e6dfcd;
}

.blog-post .code-comp pre {
  border-radius: 0;
}

.blog-post em {
  font-style: italic;
}

.blog-post header.chapter {
  position: relative;
  background: #fff;
  margin: 150px 0 0 0;
  z-index: 999;
}

.blog-post .chapter-menu {
  display: block;
  margin-top: -75px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 998;
  background: #fff;
  width: 100%;
  margin-left: -100px;

  display: grid;
  grid-template-columns: auto 50px;
  grid-auto-rows: 1fr;
  justify-items: stretch;
  align-items: stretch;
  padding: 20px 100px 20px 100px;
}

.blog-post .chapter-menu a {
  font: 16px/2 "PT Mono", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  color: #333;
}

.blog-post .chapter-menu .links a:first-child:after {
  margin-right: 5px;
  content: "➝";
  color: #aaa;
}

.blog-post .chapter-menu a:hover {
  color: #000;
}

.blog-post .chapter-menu .links a:first-child {
  color: #999;
}

.blog-post .chapter-menu .toc-link  {
  font: 24px "Open Sans", sans-serif;
  text-align: center;
  color: #999;
}

.blog-post .chapter-menu .toc-link:hover {
  color: #000;
}

.blog-post header.chapter h1 {
  margin: 0;
}

.blog-post header.chapter h1 a {
  outline: none;
}

@media (min-width: 1200px) {
  .blog-post .post img, .blog-post .post video {
    width: calc(100% + 100px);
    max-width: none;
    margin-left: -50px;
  }

  .blog-post .post .left img {
    margin-left: -100px;
  }

  .blog-post .post .left .img-alt {
    margin-left: -100px;
  }

  .blog-post .post .center-img img {
    width: auto;
    margin: 0 auto;
  }

  .blog-post .post .center-img .img-alt {
    margin-top: 0;
  }
}

@media (max-width: 1200px) {
  .blog-post .post .wide {
    width: 100%;
    margin: 0;
  }

  .blog-post .post .left {
    display: block;
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }

  .blog-post .post .left p {
    margin: 0;
    padding: 0;
  }

  .blog-post .post .left img {
    max-width: 100%;
  }

  .blog-post .post-image-space {
    height: 20px;
  }
}

@media (max-width: 900px) {
  .blog-post .chapter-menu {
    top: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    width: calc(100% + 44px);
  }

  .blog-post .chapter-menu .toc-link {
    font-size: 18px;
    border: 0;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .blog-post .content > h1 {
    font-size: 28px;
    line-height: 1.4;
  }

  .blog-post .content .post h1 {
    font-size: 36px;
    line-height: 1.4;
  }

  .blog-post .content .post h2 {
    font-size: 28px;
    line-height: 1.4;
  }

  .blog-post .post-image {
    margin: 20px 0;
    height: 150px !important;
  }

  .blog-post .post-image.has-caption {
    margin-bottom: 50px;
  }

  .blog-post .post-image.has-caption .post-image-caption {
    bottom: -35px;
    color: #aaa;
  }

  .blog-post .post {
    font-size: 16px;
  }

  .blog-post .post p {
    line-height: 1.7;
  }

  .blog-post .post .center-img img {
    width: auto;
    max-width: 100%;
  }

  .blog-post .toc .toc-content {
    column-count: 1;
  }


}
