.journal .featured-grid header {
  height: 10rem;
}

.journal .archive {
  max-width: 40rem;
}

.journal .archive li a {
  display: grid;
  grid-template-columns: 40px auto 7rem;
  grid-column-gap: 1.5rem;
}

.journal .archive li a aside:first-child {
  padding-top: 4px;
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 900px) {
  .journal .archive li a {
    grid-template-columns: 40px auto 6rem;
    grid-column-gap: .5rem;
  }

}
