.photography a {
  border: 0;
}

.photography .photos {
  margin-top: 50px;
}

.photography .grid {
  grid-row-gap: 2rem;
}

.photography .grid .thumbnail {
  position: relative;
  display: block;
  /*margin: 1rem 0 0 0;*/
}

.photography .grid .thumbnail.highlight {
    grid-column: 1 / 3;
}

.photography .thumbnail a {
  display: block;
  line-height: 0;
}

.photography .thumbnail img {
  display: block;
  width: 100%;
  height: auto;
  cursor: zoom-in;
}

.photography .thumbnail .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: zoom-in;

  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.photography .thumbnail .caption h1 {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #fff;
  font-size: 1.5rem;
  text-shadow: 1px 1px #000;
}

.photography .thumbnail:hover .caption {
  opacity: 1;
}
