@font-face {
  font-family: "Calibre";
  src: url("./files/CalibreWeb-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Calibre";
  src: url("./files/CalibreWeb-LightItalic.woff") format("woff");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Calibre";
  src: url("./files/CalibreWeb-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Calibre";
  src: url("./files/CalibreWeb-RegularItalic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}


@font-face {
  font-family: "Calibre";
  src: url("./files/CalibreWeb-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Calibre";
  src: url("./files/CalibreWeb-MediumItalic.woff") format("woff");
  font-style: italic;
  font-weight: 500;
}
