/* TiemposHeadline (Serif) */
@font-face {
	font-family: 'TiemposHeadline';
	src: url('./fonts/files/Tiempos_Headline_Regular.woff') format('woff');
}

@font-face {
	font-family: 'TiemposHeadline';
  font-weight: 600;
	src: url('./fonts/files/Tiempos_Headline_Medium.woff') format('woff');
}

@font-face {
	font-family: 'TiemposHeadline';
  font-weight: 700;
	src: url('./fonts/files/Tiempos_Headline_Semibold.woff') format('woff');
}

/* Tiempos (Serif) */

@font-face {
	font-family: "Tiempos";
	src: url('./fonts/files/Tiempos_Text_Regular.woff') format('woff');
}

@font-face {
	font-family: "Tiempos";
  font-weight: 600;
	src: url('./fonts/files/Tiempos_Text_Medium.woff') format('woff');
}
