.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 3px 20px 5px 20px;
  width: calc(100% - 40px);
  height: 40px;
  background: #fff;
  overflow: hidden;
  z-index: 9999;
  display: none;
}

.burger-menu .burger-content {
  display: none;
  margin: 0 auto;
  height: 0;
}

.burger-menu.open {
  top: 0;
  left: 0;
  height: calc(100% - 7px);
}

.burger-menu.open .burger-content {
  display: block;
  height: 100%;
}

.burger-menu .header h1 {
  font: 400 16px "Open Sans", sans-serif;
  padding-left: 38px;
  margin-bottom: 50px;
}

.burger-menu .header h1 a {
  color: #222;
  text-decoration: none;
}

.burger-menu h2 {
  font: 14px "PT Mono", sans-serif;
  text-transform: uppercase;
  color: #666;
  padding-left: 30px;
}

.burger-menu .header h1 img {
  position: absolute;
  border-radius: 50%;
  width: auto;
  height: 25px;
  margin: -1px 0 0 -33px;
}

.burger-menu .header a {
  background: transparent !important;
  border: 0;
}

.burger-menu .button {
  display: block;
  border: 0;
  margin: 10px 0 10px 30px;
  font: 16px "Open Sans", sans-serif;
  color: #222;
  text-decoration: none;
}

.burger-menu .button:hover, .burger-menu .button:active {
  color: #888;
}

.burger-menu h2.social-media {
  margin-top: 30px;
}

.burger-menu .social-icons {
  margin-left: 25px;
  text-align: left;
}

.burger-menu .hamburger {
  position: absolute;
  top: 18px;
  right: 20px;
  display: block;
  width: 23px;
  height: 20px;
  background: #fff;
  cursor: pointer;
}

.burger-menu .hamburger:after {
  content: "";
  position: absolute;
  top: -2px;
  left: 0px;
  width: 100%;
  height: 5px;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;

  -webkit-transition: transform 0.1s ease-in, margin 0.1s ease-in, border-bottom 0.2s ease-in;
  -moz-transition: transform 0.1s ease-in, margin 0.1s ease-in, border-bottom 0.2s ease-in;
  -o-transition: transform 0.1s ease-in, margin 0.1s ease-in, border-bottom 0.2s ease-in;
  transition: transform 0.1s ease-in, margin 0.1s ease-in, border-bottom 0.2s ease-in;
}

.burger-menu .hamburger:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0px;
  width: 100%;
  border-top: 2px solid #000;


  -webkit-transition: transform 0.1s ease-in, margin 0.1s ease-in;
  -moz-transition: transform 0.1s ease-in, margin 0.1s ease-in;
  -o-transition: transform 0.1s ease-in, margin 0.1s ease-in;
  transition: transform 0.1s ease-in, margin 0.1s ease-in;
}

.burger-menu.open .hamburger:after {
  border-bottom: 0;
  transform: rotate(45deg);
  margin: 7px 0 0 -5px;
  height: 6px;
}

.burger-menu.open .hamburger:before {
  transform: rotate(-45deg);
  margin: -6px 0 0 -3px;
}

@media (max-width: 900px) {
  .burger-menu {
    display: block;
  }
}
