.centered-layout {
  width: 100%;
  height: 100%;
}

.centered-layout .content {
  width: 70%;
  height: calc(100% - 200px);
  margin: 200px auto 0 auto;
}

@media (max-height: 1000px) {
  .centered-layout .content {
    margin-top: 200px;
    height: auto;
  }

  .centered-layout .content > .center {
    display: block;
    margin: 100px 0;
  }
}

@media (max-width: 1224px) {
  .centered-layout .content {
    width: 85%;
  }
}

@media (max-width: 850px) {
  .centered-layout .content {
    margin: 200px auto 20px auto;
  }

  .centered-layout .content > .center {
    display: block;
    margin: 100px 0;
  }
}
