.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
  display: block;
  background: #fff;
}

.menu .inner {
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
}

.menu .support-link {
  margin-top: -7.5px;
  padding: 7px 15px 10px 15px;
}

@media (max-width: 900px) {
  .menu {
    display: none;
  }
}
