.newsletter {
  display: block;
  max-width: 500px;
  margin: 0 auto 50px auto;
  text-align: center;
}

.newsletter h1 {
  text-align: center;
  font: 16px/1.7 "Open Sans", sans-serif !important;
  color: #666 !important;
  margin: 20px 0;
}

.newsletter input {
  width: 250px;
  border: 1px solid #ddd;
  padding: 10px;
  font: 400 14px "Open Sans", sans-serif;
  outline: none;
  color: #333;
  -webkit-appearance: none;
  border-radius: 0;
}

.newsletter input:focus {
  border-color: #999;
}

.newsletter .button {
  margin-top: 12px;
  background: #999;
  border: 0;
  cursor: pointer;
  color: #fff;
  font: 700 12px/21px "Open Sans", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 13px 25px;
  width: auto;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.newsletter .hidden {
  position: absolute;
  left: -9999px;
}

.newsletter .button:hover {
  background: #00c57e;
  border-color: #00c57e;
}

.inline-newsletter {
  max-width: 500px;
  margin: 0 auto;
}

.newsletter.inline {
  background: #f9f9f9;
  max-width: none;
  padding: 50px 0;
}

.newsletter.inline h1 {
  font: 600 28px/1.8 "Open Sans", sans-serif !important;
  margin: 0 !important;
  color: #19A974 !important;
}

.newsletter.inline input {
  border-color: rgba(50, 50, 50, 0.1);
  padding: 12px 15px;
}

.newsletter.inline h2 {
  max-width: 450px;
  font: 18px/1.8 "Open Sans", sans-serif !important;
  margin: 0 auto !important;
  color: #888 !important;
}


.newsletter.inline form {
  margin-top: 25px;
}
