.newsletter {
  display: block;
  max-width: 500px;
  margin: 0 auto 50px auto;
  text-align: center;
}

.newsletter h1 {
  text-align: center;
  font: 18px/28px "Apercu light", "Open Sans", sans-serif;
  color: #555;
  margin: 20px 0;
}

.newsletter input {
  width: 250px;
  border: 1px solid #ddd;
  padding: 10px;
  font: 400 14px "Open Sans", sans-serif;
  outline: none;
  color: #333;
  -webkit-appearance: none;
  border-radius: 0;
}

.newsletter input:focus {
  border-color: #999;
}

.newsletter .button {
  margin-top: 12px;
  background: #999;
  border: 0;
  cursor: pointer;
  color: #fff;
  font: 700 12px/21px "Open Sans", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 13px 25px;
  width: auto;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.newsletter .button:hover {
  background: #666;
}

.inline-newsletter {
  max-width: 500px;
  margin: 0 auto;
}

.inline-newsletter .newsletter h1 {
  font: 16px/28px Apercu light,sans-serif;
}
