@import url("./Layout/font-definitions.css");

.simple-layout {
  min-height: 100%;
}

.simple-layout .content {
  margin: 150px auto;
}

.simple-layout .content a {
  color: #111;
  text-decoration: none;
  border-bottom: 4px solid rgb(254, 205, 109);
}

.simple-layout .content a:hover {
  border-color: transparent;
}

.simple-layout  .presentation-title h1 {
  font: 600 54px/58px var(--headline);
  color: #111;
  text-align: center;
  letter-spacing: -.2px;
  margin-bottom: 10px;
}

.simple-layout .content > h2, .simple-layout .content > h2 span {
  font: 400 16px/1.7 "Open Sans", sans-serif;
  color: #888;
  text-align: center;
  max-width: 450px;
  margin: 0px auto;
}

.simple-layout .slide {
  height: calc(100vh);
}

.simple-layout .slide .quote {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 300px;
  font: 500 28px/1.8 var(--sans);
  position: relative;
  color: #000;
}

.simple-layout .content .slide .quote label {
  position: absolute;
  bottom: -50px;
  left: 0;
  font-size: 16px;
  font-weight: normal;
}

.simple-layout .presentation-title {
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.simple-layout .presentation-title h1 {
  max-width: 550px;
  margin-top: -150px;
  font-size: 72px;
  line-height: 1.3;
}

.simple-layout .presentation-title h2 {
  margin: 0 0 0 0;
  text-align: center;
}



 @media (max-width: 900px) {
  /*.simple-layout .content > h1 {
    font-size: 48px;
    line-height: 52px;
  }

  .simple-layout .content > h2 {
    font-size: 14px;
    line-height: 18px;
    max-width: 300px;
  }*/

  .simple-layout  .presentation-title h1 {
    font-size: 42px;
    line-height: 1.3;
    width: 100%;
  }

  .simple-layout .slide .quote {
    width: 100%;
    font-size: 18px;
    line-height: 1.4;
  }
}
