/*@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./files/open-sans-v14-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('./files/open-sans-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/open-sans-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/open-sans-v14-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./files/open-sans-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./files/open-sans-v14-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./files/open-sans-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('./files/open-sans-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/open-sans-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/open-sans-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./files/open-sans-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./files/open-sans-v14-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./files/open-sans-v14-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('./files/open-sans-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/open-sans-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/open-sans-v14-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./files/open-sans-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./files/open-sans-v14-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./files/open-sans-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('./files/open-sans-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/open-sans-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/open-sans-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./files/open-sans-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./files/open-sans-v14-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('./files/open-sans-v14-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
       url('./files/open-sans-v14-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/open-sans-v14-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/open-sans-v14-latin-800.woff') format('woff'), /* Modern Browsers */
       url('./files/open-sans-v14-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./files/open-sans-v14-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}


/* pt-mono-regular - latin */
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./files/pt-mono-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Mono'), local('PTMono-Regular'),
  url('./files/pt-mono-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./files/pt-mono-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('./files/pt-mono-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('./files/pt-mono-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./files/pt-mono-v4-latin-regular.svg#PTMono') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Apercu light';
  src: url('./files/apercu_light-webfont.woff2') format('woff2'), url('./files/apercu_light-webfont.eot') format('embedded-opentype'), url('./files/apercu_light-webfont.woff') format('woff'), url('./files/apercu_light-webfont.ttf') format('truetype'), url('./files/apercu_light-webfont.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu medium';
  src: url('./files/apercu_medium-webfont.woff2') format('woff2'), url('./files/apercu_medium-webfont.eot') format('embedded-opentype'), url('./files/apercu_medium-webfont.woff') format('woff'), url('./files/apercu_medium-webfont.ttf') format('truetype'), url('./files/apercu_medium-webfont.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu bold';
  src: url('./files/apercu_bold-webfont.woff2') format('woff2'), url('./files/apercu_bold-webfont.eot') format('embedded-opentype'), url('./files/apercu_bold-webfont.woff') format('woff'), url('./files/apercu_bold-webfont.ttf') format('truetype'), url('./files/apercu_bold-webfont.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu regular';
  src: url('./files/apercu_regular-webfont.woff2') format('woff2'), url('./files/apercu_regular-webfont.eot') format('embedded-opentype'), url('./files/apercu_regular-webfont.woff') format('woff'), url('./files/apercu_regular-webfont.ttf') format('truetype'), url('./files/apercu_regular-webfont.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos text regular';
  src: url('./files/tiempos_text_regular-webfont.woff2') format('woff2'), url('./files/tiempos_text_regular-webfont.eot') format('embedded-opentype'), url('./files/tiempos_text_regular-webfont.woff') format('woff'), url('./files/tiempos_text_regular-webfont.ttf') format('truetype'), url('./files/tiempos_text_regular-webfont.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos text semibold';
  src: url('./files/tiempos_text_semibold-webfont.woff2') format('woff2'), url('./files/tiempos_text_semibold-webfont.eot') format('embedded-opentype'), url('./files/tiempos_text_semibold-webfont.woff') format('woff'), url('./files/tiempos_text_semibold-webfont.ttf') format('truetype'), url('./files/tiempos_text_semibold-webfont.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tiemposheadline';
  src: url('./files/TiemposHeadline-Medium.eot') format('embedded-opentype'), url('./files/TiemposHeadline-Medium.woff') format('woff'), url('./files/TiemposHeadline-Medium.ttf') format('truetype'), url('./files/TiemposHeadline-Medium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
*/
