@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Merriweather:100|PT+Mono");

@font-face {
  font-family: 'Apercu';
  font-weight: 300;
  src: url("./fonts/apercu-light-pro.woff") format("woff");
}

@font-face {
  font-family: 'Apercu';
  src: url("./fonts/apercu-regular-pro.woff") format("woff");
}

@font-face {
  font-family: 'Apercu';
  font-weight: 600;
  src: url("./fonts/apercu-medium-pro.woff") format("woff");
}

@font-face {
  font-family: 'Apercu';
  font-weight: 700;
  src:  url("./fonts/apercu-bold-pro.woff") format("woff");
}

@font-face {
  font-family: 'Apercu';
  font-weight: 800;
  src: url("./fonts/apercu-black-pro.woff") format("woff");
}

@font-face {
	font-family: 'TiemposHeadline';
	src: url('./fonts/Tiempos_Headline_Regular.woff') format('woff');
}

@font-face {
	font-family: 'TiemposHeadline';
  font-weight: 600;
	src: url('./fonts/Tiempos_Headline_Medium.woff') format('woff');
}

@font-face {
	font-family: 'TiemposHeadline';
  font-weight: 700;
	src: url('./fonts/Tiempos_Headline_Semibold.woff') format('woff');
}


@font-face {
	font-family: "Tiempos";
	src: url('./fonts/Tiempos_Text_Regular.woff') format('woff');
}

@font-face {
	font-family: "Tiempos";
  font-weight: 600;
	src: url('./fonts/Tiempos_Text_Medium.woff') format('woff');
}
